
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    /* @apply debug */
}
.debug{
    @apply border border-red-800
}

body{
@apply  text-white;
}

p{
  @apply body1
}



h1 {
    @apply    font-bold;
    font-size: clamp(4.5rem, 3.375rem + 5vw, 9.375rem);
    letter-spacing: 2%;
  }
  
  h2 {
    @apply   font-bold;
  
    font-size: clamp(3.375rem, 3.1154rem + 1.1538vw, 4.5rem);
  }
  
  h3 {
    @apply   font-bold;
    font-size: clamp(2.625rem, 2.3077rem + 1.4103vw, 4rem);
  }
  
  h4 {
    @apply   font-bold;
    font-size: clamp(2.5rem, 2.2981rem + 0.8974vw, 3.375rem);
  }
  
  .title1-semibold {
    @apply   font-semibold;
    font-size: clamp(2.25rem, 2.0769rem + 0.7692vw, 3rem);
  }
  
  .title1 {
    @apply   font-bold;
    font-size: clamp(2.25rem, 2.0769rem + 0.7692vw, 3rem);
  }
  
  .title2 {
    @apply   font-semibold;
    font-size: clamp(1.875rem, 1.7885rem + 0.3846vw, 2.25rem);
  }
  
  .title3 {
    @apply   font-semibold;
    font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
  }
  
  .title4-medium {
    @apply   font-medium;
    font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem);
  }
  
  .title4-semibold {
    @apply   font-[600];
    font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem);
  }
  
  .title4 {
    @apply   font-semibold;
    font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem);
  }
  
  .body1 {
    @apply   font-medium;
    font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem);
  }
  
  .body1b {
    @apply   font-bold;
    font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem);
  }
  
  .body2 {
    @apply   font-medium;
    font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem);
  }
  
  .body2b {
    @apply   font-bold;
    font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem);
  }
  
  .body3 {
    @apply   font-normal;
    font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
  }
  
  .body3b {
    @apply   font-semibold;
    font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
  }
  
  .body4 {
    @apply   font-normal;
    font-size: clamp(0.75rem, 0.7212rem + 0.1282vw, 0.875rem);
  }
  
  .body4b {
    @apply   font-semibold;
    font-size: clamp(0.75rem, 0.7212rem + 0.1282vw, 0.875rem);
  }
  
  .caption {
    @apply   font-normal;
    font-size: clamp(0.6875rem, 0.6731rem + 0.0641vw, 0.75rem);
  }
  
  .micro {
    @apply   font-normal;
    font-size: clamp(0.625rem, 0.6106rem + 0.0641vw, 0.6875rem);
  }